/*  Jiangzhenjun Liao
    Student ID: 1429888
    Section: AE
    Assignment: 4
    This is a CSS stylesheet for fifteen-puzzle page(extra-feature included) */

body {
    text-align: center;
}

#puzzlearea {
    width: 400px;
    height: 400px;
    position: relative;
    margin:auto;
}

.tile {
    display: inline-block;
    width: 90px;
    height: 90px;
    font-size: 40pt;
    border: 5px solid black;
    background-image: url("background.jpg");
}

#shufflebutton, body {
    font-size: 14pt;
    font-family: cursive;
}

/* extra feature for the End-of-Game Notification,
    when the puzzle is solved, game over, the notification shows up*/
#output {
    font-size: 40pt;
    font-weight: bold;
    color: crimson;
}