/*
	CSE 154, Homework 6 (Bestreads)
	You should download and use this bestreads.css. You may NOT modify it.
*/

#allbooks div {
    background-color: #f4f1eb;
    border-radius: 5px;
    box-shadow: 0 0 15px gray;
    float: left;
    margin: 5%;
    text-align: center;
    width: 200px;
    height: 330px;
}

#allbooks img {
    height: 220px;
    width: 150px;
}

#back {
    border: #974455 solid 2px;
    bottom: 5px;
    color: #974455;
    font-size: 18pt;
    right: 10%;
    padding: 3px;
    position: absolute;
}

body {
    background-color: #fefcf4;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0px;
}

#bookinfo {
    width: 50%;
    margin-left: 5%;
}

#description {
    text-align: justify;
}

h2 {
    border-bottom: 1px solid #e4e1da;
}

h3 {
    margin-bottom: 5px;
}

#header {
    background-image: url("https://webster.cs.washington.edu/cse154/homework/hw6/books.jpg");
    box-shadow: 0 5px 5px lightgray;
    height: 104px;
    position: relative;
}

#header > div {
    bottom: 0px;
    color: #939384;
    font-family: Tahoma, sans-serif;
    font-size: 36pt;
    position: absolute;
    left: 10%;
}

#header > div > span {
    font-weight: bold;
}

#reviews {
    clear: left;
    margin: auto;
    padding-top: 10pt;
    text-align: center;
    width: 50%;
}

#reviews > p {
    margin-top: 0px;
    padding-bottom: 10px;
}

#singlebook img, #bookinfo {
    float: left;
    margin-top: 50px;
}

#singlebook img {
    width: 200px;
    margin-left: 15%;
}