/*  Jiangzhenjun Liao
    Student ID: 1429888
    Section: AE
    Assignment: 3
    This is a CSS stylesheet for speedReader page(no extra-feature included) */

body {
    background-color: #EAF6F6 ;
    font-size: 12pt;
    font-family: Garamond;
}

#display {
    line-height: 100px;
    width: 80%;
    height: 100px;
    margin: auto;
    font-size: 36pt;
    border: solid 2px #8EBEBE;
    border-radius: 5px;
}

#controlsField, legend {
    width: 100%;
}

fieldset {
    display: inline-block;
    vertical-align: top;
    border: none;
}

button {
    background-color: white;
}


button:disabled{
    background-color: lightgray;
}

legend {
    padding: 2px;
    text-align: left;
    border-bottom: solid 1px #8EBEBE;
}

textarea, button {
    border:solid gray 1px;
}

#validator{
    position: fixed;
    bottom: 5px;
    left: 5px;
}

img, button {
    width: 70px;
}

#display, textarea {
    background-color: #FFFFFF;
}

#display, legend {
    font-weight: bold;
}

h1, #controlsField, #display {
    text-align: center;
}