/*  Jiangzhenjun Liao
    Student ID: 1429888
    Section: AE
    Assignment:2

    This is a CSS stylesheet for TMNT - Rancid Tomatoes page (no extra-feature included) */

body {
    background-image: url("https://webster.cs.washington.edu/images/moviebg.png");
    font-size: 10pt;
    font-family:Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
}

#banner {
    background:url("https://webster.cs.washington.edu/images/rancidbannerbg.png") repeat-x;
}

h1 {
    font-size: 24pt;
    text-shadow: 3px 3px #999999;
}

#container {
    margin: auto;
    width: 800px;
    box-shadow: 5px 5px 5px gray;
    background-color: #EEEEEE;
}

#banner2 {
    background:url("https://webster.cs.washington.edu/images/rottenlargebg.png") repeat-x;
    font-size: 48pt;
    color: red;
    height: 83px;
}

#right {
    width: 250px;
}

dl {
    margin: 10pt;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#leftAll {
    clear: left;
    width: 550px;
}

.left {
    width: 47%;
    padding-left: 2%;
}

.review{
    margin-bottom:20pt;
}

.quote {
    background-color: #FFFFFF;
    border: #CCCCCC solid 2px;
    padding: 8px;
}

#container, .quote, .reviewer {
    overflow: hidden;
}

.reviewicon {
    margin-right:5px;
}

span{
    font-style: italic;
}

dt{
    margin-top: 10pt;
}

#page{
    clear: right;
    padding: 5px;
    margin: 0;
}

.quote, h1 {
    font-family: Georgia, Times New Roman, serif;
}

#container, .quote{
    border-radius: 20px;
}


h1, #page, #banner {
    text-align: center;
}

.left, #leftAll, .reviewicon{
    float: left;
}

#validator, #right {
    float:right;
}

#banner2>img, #banner>img {
    vertical-align: bottom;
}

#right, #page {
    background-color: #A2B964;
}

h1, #banner2, dt {
    font-weight: bold;
}