/*  Jiangzhenjun Liao
    Student ID: 1429888
    Section: AE; TA: Susan
    Assignment: 7
    This is a CSS stylesheet for all Kevin Bacon pages (no extra-feature included) */

body {
    font-family: Verdana, Serif;
    width: 80%;
}

#frame {
    background-color: white;
    box-shadow: 0px 0px 15px black;
}

#main {
    text-align: center;
    margin: 10px;
}

table {
    border-collapse: collapse ;
    border: solid #dad9d4;
    width: 80%;
}

fieldset {
    display: inline-block;
}

legend {
    text-align: left;
}

#banner, #w3c {
    background:
            url("https://webster.cs.washington.edu/images/kevinbacon/banner-background.png")
            repeat-x;
    color: white;
}

img,fieldset {
    margin: 8px;
}

tbody tr:nth-child(even), body {
    background-color: #dad9d4;
}

img, #banner, #w3c {
    vertical-align: bottom;
}

table, body {
    margin: auto;
}